[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pymongo = "*"
pprint = "*"
requests = "*"
firebase-admin = "*"

[requires]
python_version = "3.6"
